a:hover{
    color: red;
}
a:hover{
    background-color: powderblue;
}
body{
    background-color: greenyellow;
}
body{
    -ms-flex-item-align: center;
}
body{
    padding-right: 20px;
}
.cards-container {
    display: flex;
    flex-direction: row;
  }
  
  .card {
    width: 300px;
    min-height: 300px;
    margin: 0.5rem;
    border-radius: 25px;
    border:2px solidcolor;
    padding:20px;
    width:200px;
    height:150px;
  }
  
  .b {
    border: 1px solid #060613;
  }
  form-control {
    outline: none;
    width: 100%;
    border-color: transparent;
    min-height: 2rem;
    font-size: 1.5rem;
  }
  p{
      font-family: verdana;

  }

 /*#corners {
    border-radius: 25px;
    border:2px solidcolor;
    padding:20px;
    width:200px;
    height:150px;
  }